{% extends "base.html" %}

{% block title %}Domain Property Notifier{% endblock %}

{% block content %}
    {% block page_content %}
    {{ super() }}
    <h1>Domain Property Notifier</h1>
    <p>Generate email notifications for the properties you want to rent, own or invest in as listed on Domain.com.au.
    Your email body will contain property information based on intended purpose and criterea provided, 
    including a CSV file for download. Select an appropriate option from the question below, enter Gmail or 
    Microsoft account email and password (in-app password for Gmail) and click next to get started.</p>
    <br>
    {{ wtf.quick_form(form) }} 
    {% endblock %}
{% endblock %}
